stages:
  - build
  - test

variables:
  DOCKER_DRIVER: overlay2

before_script:
  - docker info  # проверим, что Docker доступен

build:
  stage: build
  script:
    - docker-compose build

test:
  stage: test
  services:
    - docker:dind  # Docker-in-Docker
  script:
    - docker-compose up -d
    - go test ./...
    - docker-compose down
